---
import Features2 from '~/components/widgets/Features2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Team from '~/assets/images/team.jpg';
import SimonOwen from '~/assets/images/speakers/simonowen.jpg';
import ChrisHuntingford from '~/assets/images/speakers/chrishuntingford.jpg';
import TikitByCiresonLogo from '~/assets/images/sponsors/tikit_by_cireson_logo.jpg';
import SquaredUpLogo from '~/assets/images/sponsors/squaredup_logo.jpg';
import MSTalentLogo from '~/assets/images/sponsors/ms_talent_logo.jpg';
import UserGroupImage from '~/assets/images/user-group.jpg';
import Speakers from '~/components/widgets/Speakers.astro';
import { Image } from 'astro:assets';
import Headline from '~/components/blog/Headline.astro';

const metadata = {
  title: 'Next User Group event',
};
---
<Layout metadata={metadata}>
  <Hero2
    tagline="Experts Live UK User Group"
    title="Next Event"
    subtitle="December 12th 2024 at Microsoft Reactor, London Paddington"
    actions={[
      {
        variant: 'primary',
        text: 'Register for next User Group',
        href: 'https://www.meetup.com/experts-live-uk/events/304528564',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{
      src: UserGroupImage,
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  />
  <div class="bg-blue-200 dark:bg-slate-900 my-10">
    <CallToAction
      title="Experts Live UK User Group"
      subtitle="Our next User Group in London on the 12th December 2024, we look forward to welcoming the UK Microsoft Community for our latest event. This event will be focused on Microsoft 365 Copilot and our speakers will be Simon Owen from Avanade and Chris Huntingford from ANS."
    />
  </div>
  <Speakers
    classes={{
      container: 'py-0 md:py-0 lg:py-0 mt-10',
    }}
    id="speakers"
    speakers={[
      {
        name: 'Simon Owen',
        company: 'Strategist, Governance & Change Enabler at Avanade',
        topic: 'Building a Centre for Enablement for your Copilot Strategy',
        image: SimonOwen,
        time: 'Time: 18:20',
        items: [
          {
            description:
              'Introducing your Experts Live UK team who will share what they think matters in the world of AI, especially with Copilot.',
          },
        ],
      },
      {
        name: 'Chris Huntingford',
        company: 'Director for AI at ANS',
        topic: 'Unblock AI with Purview',
        image: ChrisHuntingford,
        time: 'Time: 19:20',
        items: [
          {
            description:
              'Introducing your Experts Live UK team who will share what they think matters in the world of AI, especially with Copilot.',
          },
        ],
      },
    ]}
  />

<div class="session text-center font-bold text-lg">
  <h2 class="session-title text-3xl">Agenda</h2>
  <ul class="session-speaker">
    <li><strong>17:00 - </strong> Copilot Studio hands-on workshop with Kevin McDonnell</li>
    <li><strong>18:00 - </strong> Networking and welcome </li>
    <li><strong>18:20 - </strong> Building a Centre for Enablement for your Copilot Strategy with Simon Owen </li>
    <li><strong>19:00 - </strong> Pizza and networking </li>
    <li><strong>19:20 - </strong> Unblock AI with Purview with Chris Huntingford </li>
    <li><strong>20:15 - </strong> Post UG networking drinks at The Union </li>
  </ul>
</div>

<div id="sponsors" class="bg-blue-200 dark:bg-slate-900 py-10 scroll-mt-14">
  <Headline
    title="Event Sponsors"
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />
  <Fragment slot="content">
    <div class="flex flex-wrap justify-center items-start gap-8 lg:gap-24">
      <!-- Add items-center -->
      <a href="https://www.tikit.ai">
        <div class="flex justify-center flex-col items-center rounded-full bg-white dark:bg-neutral-900 p-8 px-14">
          <Image src={TikitByCiresonLogo} alt="Sponsor - Tikit by Cireson" class="mx-auto w-32 h-32" />
          <p class="mt-4 text-center">Tikit by Cireson</p>
        </div>
      </a>
      <a href="https://www.squaredup.com">
        <div class="flex justify-center flex-col items-center rounded-full bg-white dark:bg-neutral-900 p-8 px-14">
          <Image src={SquaredUpLogo} alt="Sponsor - SquaredUp" class="mx-auto w-32 h-32" />
          <p class="mt-4 text-center">SquaredUp</p>
        </div>
      </a>
      <a href="https://www.ms-talent.com">
        <div class="flex justify-center flex-col items-center rounded-full bg-white dark:bg-neutral-900 p-8 px-14">
          <Image src={MSTalentLogo} alt="Sponsor - MS Talent" class="mx-auto w-32 h-32" />
          <p class="mt-4 text-center">MS Talent</p>
        </div>
      </a>
    </div>
  </Fragment>
</div>

  <Steps2
    title="Our values"
    subtitle="What we hope to achieve."
    items={[
      {
        title: 'Our mission',
        description:
          'Our mission is to ignite a spark of curiosity and the desire to learn, share, and innovate. Whether you’re looking to deepen your expertise, stay ahead of the curve with the latest trends, or simply connect with fellow visionaries, Experts Live UK is your gateway to the future.',
      },
      {
        title: 'Across Microsoft',
        description:
          'As a beacon for those passionate about the vast universe of Microsoft technologies, Experts Live UK offers an unparalleled breadth of coverage. From the core infrastructure of Azure and the productivity suite of Microsoft 365, to the cutting-edge realms of AI and Power Platform, our sessions are curated to provide insights across the entire Microsoft ecosystem.',
      },
      {
        title: 'Together',
        description: 'Let’s explore the possibilities, push boundaries, and redefine what’s achievable together.',
      },
    ]}
  >
    <Image src={Team} alt="Experts Live UK" class="w-full rounded-md" slot="image" />
  </Steps2>
  <Features2
    id="why"
    title="Why Attend?"
    columns={3}
    items={[
      {
        title: 'Learn',
        description:
          "Learn from the experts across modern work, platform, security, and more. Dive deep into the world of Microsoft technologies with insights and knowledge shared by industry-leading experts. Whether you're interested in AI, Azure, Microsoft 365, Business Applications, Data Platform, Security, Hybrid.",
        icon: 'tabler:school',
      },
      {
        title: 'Network',
        description:
          'Network with peers and Microsoft staff to forge valuable connections, exchange ideas, and collaborate on innovative solutions. Connect with like-minded professionals who share your passion for Microsoft technologies and join a vibrant community dedicated to driving innovation and excellence',
        icon: 'tabler:network',
      },
      {
        title: 'Experience',
        description:
          'Experience the latest Microsoft technologies firsthand through interactive sessions, demos, and hands-on workshops. Immerse yourself in the cutting-edge tools and solutions that are shaping the future of modern work, platform development, security practices, and beyond',
        icon: 'tabler:template',
      },
    ]}
  />
  <CallToAction
    title="Experts Live UK user group"
    subtitle="Our next User Group in London on the 12th December 2024, we look forward to welcoming the UK Microsoft Community for our latest event. This event will be focused on Microsoft 365 Copilot and our speakers will be Simon Owen from Avanade and Chris Huntingford from ANS."
    actions={[
      {
        variant: 'primary',
        text: 'Register for next User Group',
        href: 'https://www.meetup.com/experts-live-uk/events/304528564',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  />
</Layout>
