---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import { Image } from 'astro:assets';
import PerformantaLogo from '~/assets/images/performanta_logo.jpg';
import AdvaniaLogo from '~/assets/images/advania_uk_logo.jpg';
import patchmypc from '~/assets/images/patchmypc.jpg';

const metadata = {
  title: 'About our sponsors',
};
---
<Layout metadata={metadata}>
  <Hero
    tagline="About our sponsors"
  >
    <Fragment slot="title">
      Bringing you the best tools and services around Microsoft technology to the UK. <br />
      <span class="text-accent dark:text-white highlight"></span>
    </Fragment>

    <Fragment slot="subtitle">
      We can safely say that these events would not happen without these amazing companies and we love what they bring to the Microsoft ecosystem. Check them out and find out how you can get involved.
    </Fragment>
  </Hero>

  <!-- Sponsors Section ******************* -->
  <div id="sponsors" class="py-10 scroll-mt-14">
    <Headline
      title="Thank you to our Sponsors"
      classes={{
        container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
        title: 'text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
        subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
      }}
    />
    <section class="py-12 px-4 text-center">
      <h2 class="text-4xl mb-4 font-semibold">Our Founding Sponsors</h2>
      <p class="text-2xl mb-8">We are proud to present our founding sponsors</p>
  
      <div class="flex flex-wrap items-center justify-around">
        <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <Image src={PerformantaLogo} alt="Sponsor 1" class="w-20 h-20 object-cover mx-auto" />
            <h2 class="title-font font-medium text-3xl text-gray-900 mt-4">Performanta</h2>
            <p class="text-base"></p>
          </div>
        </div>
  
        <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <Image src={AdvaniaLogo} alt="Sponsor 3" class="w-20 h-20 object-cover mx-auto" />
            <h2 class="title-font font-medium text-3xl text-gray-900 mt-4">AdvaniaUK</h2>
            <p class="text-base"></p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-12 px-4 text-center">
      <h2 class="text-4xl mb-4 font-semibold">Our Event Sponsors</h2>
      <p class="text-2xl mb-8">We are proud to present our event sponsors</p>
  
      <div class="flex flex-wrap items-center justify-around">  
        <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <Image src={AdvaniaLogo} alt="Sponsor 3" class="w-20 h-20 object-cover mx-auto" />
            <h2 class="title-font font-medium text-3xl text-gray-900 mt-4">AdvaniaUK</h2>
            <p class="text-base"></p>
          </div>
        </div>
        
        <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <Image src={PerformantaLogo} alt="Sponsor 1" class="w-20 h-20 object-cover mx-auto" />
            <h2 class="title-font font-medium text-3xl text-gray-900 mt-4">Performanta</h2>
            <p class="text-base"></p>
          </div>
        </div>
        
        <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <Image src={PerformantaLogo} alt="Sponsor 1" class="w-20 h-20 object-cover mx-auto" />
            <h2 class="title-font font-medium text-3xl text-gray-900 mt-4">Performanta</h2>
            <p class="text-base"></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="py-12 px-4 text-center">
      <h2 class="text-4xl mb-4 font-semibold">Intrested in becoming a sponsor</h2>
      <p class="text-2xl mb-8">We welcome sponsors, please <a href="/contact">contact us</a>.</p>
    </section>
  </Layout>
  